

ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height:70px;
}

li {
    float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: 5px;
    font-size: 20px;
}

li a:hover {
    color: black;
}

.name {
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: #4aaaa5;
    left: 30px;
    top:15px;
    z-index: 1;
    color: white;
    text-align: center;
}

.main {
    position: absolute;
    background-color: #ffffff;
    left: 30px;
    width: 650px;
    float: left;
    text-align: center;
    height: 400px;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 2px #dddddd;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    font-size: 25px;
}

.sidebar {
    position: relative;
    background-color: #ffffff;
    left: 720px;
    width: 270px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 2px #dddddd;
    
}

.center {
    text-align: center;
}




.footer {
    position: absolute;
    top: 700px; 
    text-align: center;
    background-color: #666666;
    column-width: 1500px;
    height: 100px;
    border-top: solid 15px #4aaaa5;
    color: #ffffff;
}

.align {
    text-align: left;
}